.deets-all {
  background-color: rgb(245, 186, 175);
  height: 30vw;
  width: 48vw;
  margin: 0 auto;
  margin-top: 5vw;
  color: rgb(92, 92, 92);
  text-shadow: 1.5px 1.5px rgb(255, 255, 255);
  font-family: "Josefin Slab", serif;
  font-size: 2vw;
  /* background-image: url(https://i.pinimg.com/564x/d2/10/41/d2104166c3b7e7166b3e13c88fd1cd07.jpg); */
  background-image: url(https://live.staticflickr.com/65535/50903962707_e51a80bab8_c.jpg);
  /* background-repeat: no-repeat; */
  background-size: contain;
  opacity: .97;

  }

  .name {
  color: rgb(55, 55, 55);
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5vw;
  margin-top: -1vw;
  text-shadow: none;
  }

  @media only screen and (max-width: 1024px) {
  }
  
  @media only screen and (max-width: 700px) {
    .deets-all {
      width: 100vw;
      padding: 1vw;
      font-size: 3vw;
      height: 60vw;
    }
   
    .name {
      font-size: 6vw;
    }
   
   
  }