.all-plants {
  border: solid orange;
  color: black;
  background-color: #54a5a6af;
  width: 55vw;
  height: 40vw;
  margin: 0 auto;
  margin-top: 3vw;
  
}
.plant-name {
background-color: whitesmoke;
height: 8vw;
width: 30vw;
margin: 0 auto;
}

.header-plant {
margin: 0 auto;
font-size: 2vw;
color: dimgray;
font-family: "Josefin Slab", serif;
}
.plant-name, .plant-link {
font-family: 'Permanent Marker', cursive;
color: black;
text-decoration: none;
}