.log-cont {
background-color: #54a5a6af;
width: 30vw;
height: 20vw;
text-align: center;
display: flex;
justify-self: flex-start;
justify-content: center;
margin-top: 10vw;
border: solid  blue;
}

.log-deets {
  border: solid blueviolet;
}