.all-nav {
  color: black;
  background-color: #a5cbb5;
  height: 8vw;
  border: solid  #a5cbb5;
  
}
A:link {
  text-decoration: none;
  
}
.logo {
float: left;
}

.nav-icons {
font-size: 3vw;
display: flex;
margin-top: 4.5vw;
justify-content: space-between;
width: 20vw;
margin-left: 70vw;
color: #737373;

}

.link-icon {
  text-decoration: none;
  color: #737373;
}
.nav-icon:hover {
transform: scale(1.05);
}



.welcome-msg {
  position: absolute;
  left: 43vw;
  font-family: "Staatliches", cursive;
  color: rgb(249, 246, 246);
}